# Virtual environment (created in-project)
bin/
lib/
include/
share/
etc/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# OS / editor
.DS_Store
.ipynb_checkpoints/

# Jupyter
.jupyter/
